.ClientAnalytics{
    font-weight: lighter;
}
.ClientAnalytics .row{
    width: 100%;
    margin-left: 0.1px;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
}
.ClientAnalytics .col{
    color: rgb(255, 255, 255);
    border-left: 1px solid black;
    border-right: 1px solid black;

}
.ClientAnalytics p{
    color: inherit;
}
.ClientAnalytics h1{
    padding-top: 10px;
    color:inherit;
    text-align: center;
}

.ClientAnalytics .odd p{
    text-indent: 40px;
    color: black;
}
@media only screen and (max-width: 600px) {
    .ClientAnalytics p{
        font-weight: normal;
        text-indent: 0px;
    }
    .ClientAnalytics .odd p{
        text-indent: 0px;
    }
    
}
