.JoinSession{
    color: white;
    font-weight: lighter;
    height: 400px;
}
.JoinSession .row{
    padding-top: 25px;
}
.JoinSession .buttonShow{
    display: block;
}
.JoinSession button{
    display: none;
    width: 100%;
    border: none;
    border-radius: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 1s;
}